.navbar-brand img {
    height: 60px; /* Default logo size */
  }

  /* Smaller logo size for smaller screens */
  @media (max-width: 768px) {
    .navbar-brand img {
      height: 40px; /* Adjust logo size for mobile devices */
    }
  }
  .dropdown-item {
    color: #000 !important; /* Ensure the text is visible */
  }
  