 <!-- Categories widget-->
 <div class="card mb-4">
    <div class="card-header">Categories</div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <ul class="list-unstyled mb-0">
                    <li><a href="#!">Politics</a></li>
                    <li><a href="#!">War</a></li>
                    <li><a href="#!">Personal Finance</a></li>
                    <li><a href="#!">Small Business</a></li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="list-unstyled mb-0">
                    <li><a href="#!">Technology</a></li>
                    <li><a href="#!">Markets</a></li>
                    <li><a href="#!">Lifestyle</a></li>
                </ul>
            </div>
           
        </div>
    </div>
</div>